body {
  margin: 0;
  font-family: 'Lato', 'Roboto',sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

